{% extends "base.html" %}

{% block title %}О проекте - Блогикум{% endblock %}

{% block content %}
<article class="post-detail">
    <h1>О проекте</h1>
    <div class="post-text">
        <p>Блогикум — это платформа для публикации личных дневников.</p>
        <p>Здесь вы можете создавать свои страницы, публиковать записи, читать и комментировать посты других пользователей.</p>
        <p>Каждая запись может быть отнесена к определенной категории и содержать информацию о месте события.</p>
    </div>
</article>
{% endblock %}